<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="" class="form-example">
    <select name="packets" id="packet-select">
      <option value="">--Please choose an option--</option>
      <option value="XTKS">XTKS</option>
      <option value="SDKLSD">SDKLSD</option>
      <option value="RYRU">RYRU</option>
    </select>
    <div>
      <label for="det1">Enter first detail: </label>
      <input type="text" name="det1" id="det1" required>
    </div>
    <div>
      <label for="det2">Enter second detail: </label>
      <input type="text" name="det2" id="det2" required>
    </div>
    <div>
      <button type="button" id="generator">Generate</button>

    </div>

  </form>


  <a href="./index">Back</a>



 
</body>



</html>