<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     {% load static %}

     <link rel="stylesheet" type="text/css" href="{% static 'scenario.css' %}">
</head>
<body>

    <main class="main">

    <form action="scenario" method="post" class="form">
        {% csrf_token %}
        <select name="scen" id="scenario-select">
            <option value="0">--Please choose an option--</option>
            <option value="1">Scan</option>
            <option value="2">DDOS</option>
            <option value="3">Spoofing</option>
            <option value="4">Fuzzing</option>
        </select>
        <div class="container"></div>
        <input type="submit" value="OK" class="button">
        
    </form>

    

    <div class="container">
    </div>

    <div class="data">
    {% if data %}
    {{data}}
    {% endif %}
    </div>

    </main>

    <footer class="footer">
        <a href="./" class="link">Back</a>
    </footer>



 <script src="{% static './scenario.js' %}"></script>
</body>
</html>