<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="scenario" method="post">
        {% csrf_token %}
        <select name="scen" id="packet-select">
            <option value="0">--Please choose an option--</option>
            <option value="1">Skanowanie</option>
            <option value="2">DDOS</option>
            <option value="3">Spoofing</option>
            <option value="4">XXX</option>
        </select>
        <input type="submit" value="OK">
        
    </form>

    {% comment %} <h1>Welcome</h1>
    <button onclick="location.href='{% url 'script' %}'">Execute Script</button> {% endcomment %}
    <div>
    {% if data %}
    {{data}}
    {% endif %}
    </div>


  <a href="./index">Back</a>
</body>
</html>