<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" class="form-example">
        <select name="packets" id="packet-select">
            <option value="">--Please choose an option--</option>
            <option value="DDOS">DDOS</option>
            <option value="XXX">XXX</option>
            <option value="XXX">XXX</option>
        </select>
    </form>

  <a href="./index">Back</a>
</body>
</html>